{% extends 'orders/header.html' %} {% block content %}
<div class="container-fluid">
    <div class="content my-3 px-2">
        <div class="card shadow rounded-0">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3><u>Our Contact Details</u></h3>
                </div>
                <div class="row justify-content-center">
                    <p>Our Telephone is 254 719 388 139</p>
                </div>
                <div class="row justify-content-center">
                    <p>Email us @ <a href="mailto:info@amosshop.com">info@amosshop.com</a></p>
                </div>
                <div class="row justify-content-center">
                    <p>You Find us on Twitter @AMOSShop</p>
                </div>
                <div class="row justify-content-center">
                    <p>And on Instagram @AMOSShop</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}